/* .name{
  display: inline-block;
  width: 60%;
} */
body{
  background-color: #fff;
}
.center{
    width: unset;
    margin-right: 20px;
}
.not_enough{
  background-color: #ccc;
}
.cost{
    display: inline-block;
    width: 30%;
}
.child{
    /* padding: 0 20px; */
    width: 50%;
    float: left;
}
.tac{
  text-align: center;
}
.clear{
  clear: both;
  text-align: right;
  font-size: small;
}
.job{
  /* width: 640px; */
  height: 700px;
  margin: 0 auto;
}
.search{
  font-size: small;
  margin-left: 20px;
}
.children{
  padding: 0 20px;
}
.search_center{
  font-size: small;
}
#content{
  padding-top: 20px;
  justify-content: space-between;
}
#header{
  text-align: center;
}
ol{
  padding-inline-start: 0;
  list-style-type: none;
  line-height: 1.8;
}
p{
  margin: 0;
}
ol>li{
  border-bottom: #000 1px solid;
}
.active{
  border-bottom: 3px solid #000;
  border-width: 3px;
}
#nav>span {
  padding: 0 10px;
}