/* .name{
  display: inline-block;
  width: 60%;
} */
.center{
    width: unset;
    margin-right: 20px;
}
.not_enough{
  background-color: #ccc;
}
.cost{
    display: inline-block;
    width: 30%;
}
.child{
    /* padding: 0 20px; */
    width: 50%;
    float: left;
}
.tac{
  text-align: center;
}
.clear{
  clear: both;
  /* text-align: right; */
  font-size: small;
}
.job{
  /* width: 640px; */
  /* height: 700px; */
  margin: 0 auto;
}
.search{
  font-size: small;
  margin-left: 20px;
}
.children{
  padding: 0 20px;
}
.search_center{
  font-size: small;
}
#content{
  background-color: #fff;
  padding-top: 20px;
}
ol{
  padding-inline-start: 0;
  list-style-type: none;
  line-height: 1.8;
}
h1{
  margin-top: 50px;
}
p{
  margin: 0;
}
li{
  border-bottom: #000 1px solid;
}
